# Node
node_modules/
.npmrc

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store

# SQLite DB
vocab.db
*.sqlite
*.sqlite-journal
/data/

# Env
.env
.env.*

# Build artifacts
.dist/
dist/
build/
